#track_url, #unsubscribe, #user_items, #untrack{
    background-color: orange;
    border : 2px solid black;
}

.col-centered {
    float : none;
    margin : 0 auto;
}

.row {
    padding : 1rem;
}
.container {
    padding : 1rem;
}

form {
    padding : 1rem;
}